<button class="button button-block button-positive" ng-click="runQRCode()">Scan</button>
<div class="card">
	<div class="item">
		<input type="text" value="{{text}}" />
	</div>
	<div class="item">{{format}}</div>
	<div class="item">{{cancelled}}</div>
</div>

<div class="card">
	<div class="item">{{schedule.SUMMARY}}</div>
	<div class="item">{{schedule.LOCATION}}</div>
	<div class="item">{{schedule.DESCRIPTION}}</div>
	<div class="item">{{schedule.DTSTART}}</div>
	<div class="item">{{schedule.DTEND}}</div>
</div>