<ion-tabs class="tabs-icon-top tabs-dark">
    <ion-tab icon="ion-qr-scanner" 
             title="read" 
             ui-sref="tabs.reader">
    	<ion-nav-view name="reader-tab" class="slide-left-right"></ion-nav-view>
    </ion-tab>
    <ion-tab icon="ion-calendar" 
             title="create" 
             ui-sref="tabs.creator">
    	<ion-nav-view name="creator-tab" class="slide-left-right"></ion-nav-view>
    </ion-tab>
    <ion-tab icon="ion-gear-a" 
             title="config" 
             ui-sref="tabs.config">
    	<ion-nav-view></ion-nav-view>
    </ion-tab>
</ion-tabs>