<ion-tabs class="tabs-striped tabs-background-light tabs-color-assertive">
    <ion-tab icon="ion-qr-scanner"
             ui-sref="tabs.reader">
    	<ion-nav-view name="reader-tab" class="slide-left-right"></ion-nav-view>
    </ion-tab>
    <ion-tab icon="ion-calendar"
             ui-sref="tabs.creator">
    	<ion-nav-view name="creator-tab" class="slide-left-right"></ion-nav-view>
    </ion-tab>
    <!-- <ion-tab icon="ion-gear-a"
             title="config"
             ui-sref="tabs.config">
    	<ion-nav-view></ion-nav-view>
    </ion-tab> -->
</ion-tabs>
